
:root {
    --primary-color: #204056;
    --secondary-color: #EFC7C2;
    --accent-color: #DCEDEF;
    --accent-color-2: #583237;
    --heading-font: "Times New Roman";
    --paragraph-font: "Kanit", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    text-align: center;
}

body {
    font-size: 28px;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--accent-color-2);
    color: var(--secondary-color);
    position: fixed;
    width: 100%;
}

header nav a, footer a {
    color: var(--accent-color);
    text-decoration: none;
    font-size: 20px;
}

.first-interaction {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding-top: 104px;
}

.tutor-introduction {
    background-color: var(--secondary-color);
}

.tutor-process {
    background-color: var(--accent-color);
}

.purpose {
    background-color: var(--accent-color-2);
    color: var(--accent-color);
}

footer {
    background-color: var(--accent-color-2);
    color: var(--accent-color);
    font-size: 0.5em;
    line-height: 0.75em;
    padding: 25px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}